body {
  background-image: linear-gradient(
    180deg,
    rgba(7, 3, 66, 0.15) 0%,
    rgba(139, 168, 173, 0.205) 100%
  );
  background-repeat: no-repeat;
  height: 100vh;
}

input::placeholder {
  font-size: 15px;
}
